services:
  - type: web
    name: friend-api
    env: docker
    plan: free
    region: oregon
    branch: main
    rootDir: .
    dockerCommand: php artisan serve --host=0.0.0.0 --port=8000
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_KEY
        generateValue: true
      - key: DB_CONNECTION
        value: sqlite
